@model FamilyTree.ViewModels.LoginViewModel
@{
	ViewBag.Title = "Login";
}

@section Head
{
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Account.less")" />
}

<h2>Login</h2>

<p>To be able to access this area of the FamilyTree site you need to login</p>
<p>This is to prevent unwanted modifications of data without the right to-do so.</p>

@using (Html.BeginForm("Login", "Account"))
{
	@Html.HiddenFor(m => m.ReturnUrl)

	if (!string.IsNullOrEmpty(Model.Messages))
	{
		<div>
			@Model.Messages
		</div>
	}

	<table>
		<tr>
			<td>Username</td>
			<td>
				@Html.EditorFor(m => m.UserName)
				@Html.ValidationMessageFor(m => m.UserName)
			</td>
		</tr>
		<tr>
			<td>Password</td>
			<td>
				@Html.PasswordFor(m => m.Password)
				@Html.ValidationMessageFor(m => m.Password)
			</td>
		</tr>
	</table>

	<button type="submit">Login</button>
}