@model FamilyTree.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Account"))
{
	if (!string.IsNullOrEmpty(Model.Messages))
	{
		<div class="messages">@Model.Messages</div>
	}
	
	<table>
		<tr>
			<td>Username</td>
			<td>
				@Html.EditorFor(m => m.UserName)
				@Html.ValidationMessageFor(m => m.UserName)
			</td>
		</tr>
		<tr>
			<td>Password</td>
			<td>
				@Html.PasswordFor(m => m.Password)
				@Html.ValidationMessageFor(m => m.Password)
			</td>
		</tr>
		<tr>
			<td>Display name</td>
			<td>
				@Html.EditorFor(m => m.DisplayName)
				@Html.ValidationMessageFor(m => m.DisplayName)
			</td>
		</tr>
	</table>

	<button type="submit">Register</button>
}