@model FamilyTree.ViewModels.MarriageViewModel

<div class="marriage @(Model.Children.Any() ? "has-children" : "") @(Model.Children.Count() == 1 ? "single-child" : "")">
	@Html.Partial("_PersonDetail", Model.From)
	<div class="marriage-marker">=</div>
	@Html.Partial("_PersonDetail", Model.To)
</div>
@if (Model.Children.Any())
{
	<div class="children">
		@foreach (var child in Model.Children)
		{
			@Html.DisplayFor(_ => child)
		}
	</div>
}
