@model FamilyTree.ViewModels.PersonViewModel

<div class="person @(Model.Marriages.Any() ? "" : "no-marriages")" id="@Model.GetHandle()">
	<div class="details details-popup @Model.GenderCss">
		<img src="@Model.GetPhotoUri(Url)" height="50" />
		<span>@Model.FirstName</span>
		@if (Model.HasOtherTree && Model.IsForAnotherFamily(Url))
		{
			<a href="@Url.Action("Family", "Tree", new { family = Model.LastName, format = "text/html+razor" })#@Model.GetHandle()">@Model.LastName</a>
		}
		else
		{
			<span>@Model.LastName</span>
		}

		@if (Model.Birth != null && Model.Birth.Date.HasValue)
		{
			<span>
				Birth:
				@Model.Birth.DateFormatted
				@if (Model.Birth.Location != null)
				{
					<span>
						(@Model.Birth.Location)
					</span>
				}
			</span>
		}
		@if (Model.Death != null && Model.Death.Date.HasValue)
		{
			<span>
				Death:
				@Model.Death.DateFormatted
				@if (Model.Death.Location != null)
				{
					<span>
						(@Model.Death.Location)
					</span>
				}
			</span>
		}
		@foreach (var marriage in Model.Marriages)
		{
			<span>
				Marriage to @marriage.To.FirstName @marriage.To.LastName
			</span>
		}
	</div>
	<div class="details @Model.GenderCss">
		<img src="@Model.GetPhotoUri(Url)" height="50" />
		<span>@Model.FirstName</span>
		@if (Model.HasOtherTree && Model.IsForAnotherFamily(Url))
		{
			<a href="@Url.Action("Family", "Tree", new { family = Model.LastName, format = "text/html+razor" })#@Model.GetHandle()">@Model.LastName</a>
		}
		else
		{
			<span>@Model.LastName</span>
		}
	</div>
</div>