@model FamilyTree.ViewModels.TreeViewModel
@{
    ViewBag.Title = Model.Name;
}

@section Head
{
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Family.less")" />
}

<div class="tree">
	@Html.DisplayFor(m => m.Root)
</div>

<script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.lazyload.1.9.7.min.js")"></script>
<script src="@Url.Content("~/Scripts/Family.js")"></script>